@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Content';
  src: url('/CONTENT.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ContentBlack';
  src: url('/ContentBlack.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@layer utilities {
  .AccordionTrigger[data-state='open']>.AccordionChevron {
      transform: rotate(90deg);
    }
  .AccordionTrigger[data-state='closed']>.openFolder {
    display: none
  }
  .AccordionTrigger[data-state='open']>.openFolder {
    display: flex
  }
  .AccordionTrigger[data-state='open']>.closedFolder {
    display: none
  }
  .AccordionTrigger[data-state='closed']>.closedFolder {
    display: flex
  }
}